/* QUERY LG */

@media screen and ( min-width:991px ) {
    .cg-text-bottom-footer{
        width: 50%;
    }
}

/* QUERY MD */

@media screen and ( min-width:767px ) {
    .cg-top-jumbo .container .cg-container{
        width: 40%;
    }

    .cg-new-games-jumbo .container .cg-container{
        width: calc(100% / 3);
    }

}

/* QUERY SM */
@media screen and ( max-width:767px ) {
    .cg-text-play-plus{
        width: 100%;
    }
}