/* HEADER */

.cg-top-header{
    height: 30px;
    background-color: black;
}

.cg-top-header img{
    width: 60px;
}

.cg-btn-black{
    background-color: #363636;
}

/* JUMBOTRON */

.cg-top-jumbo{
    background-image: url(./img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
}

.cg-top-jumbo .cg-container{
    padding-top: 20%;
    padding-bottom: 10px;
    color: white;
}

.cg-top-jumbo .cg-container .container img{
    width: 80%;
}

.cg-btn-orange{
    background-color: #CD3D0F;
}