/* HEADER */

.cg-top-header{
    height: 30px;
    background-color: black;
}

.cg-top-header img{
    width: 60px;
}

.cg-btn-black{
    background-color: #363636;
}

/* JUMBOTRON */

/* top */

.cg-top-jumbo{
    background-image: url(./img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
}

.cg-top-jumbo .container .cg-container{
    padding-top: 20%;
    padding-bottom: 10px;
    color: white;
}

.cg-top-jumbo .container .cg-container img{
    width: 80%;
}

/* bottom */

.card.active img{
    border: 1px solid #006CCC;
    padding: 3px;
    border-radius: 10px;
}

.cg-bottom-jumbo .container .row .col .card:hover{
    transform: translateY(-5px);
}

/* PLAY-FIVE */

.cg-top-play-five h6{
    color: #0172CD;
}

.cg-play-five .cg-top-play-five p,
.cg-play-five .cg-bottom-play-five p{
    color: #858585;
}