/* GENERAL */

ul li{
    list-style: none;
}

/* HEADER */

.cg-top-header{
    height: 30px;
    background-color: black;
}

.cg-top-header img{
    width: 60px;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    
}

.cg-bottom-header .container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #177ED5 !important;
}

/* dropdown */

.cg-play-menu-item :hover{
    filter: drop-shadow( 4px grey);
}

/* JUMBOTRON */

/* top */

.cg-top-jumbo{
    background-image: url(./img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
}

.cg-top-jumbo .container .cg-container{
    padding-top: 20%;
    padding-bottom: 10px;
    color: white;
}

.cg-top-jumbo .container .cg-container img{
    width: 80%;
}

/* bottom */

.card.active img{
    border: 1px solid #006CCC;
    padding: 3px;
    border-radius: 10px;
}

.cg-bottom-jumbo .container .row .col .card:hover{
    transform: translateY(-5px);
}

/* PLAY-FIVE */

.cg-top-play-five h6{
    color: #0172CD;
}

.cg-play-five .cg-top-play-five p,
.cg-play-five .cg-bottom-play-five p{
    color: #858585;
}

.cg-gadget{
    height: 100%;
    padding: 0 20px;
    border: 1px solid transparent;
    opacity: 0.6;
}

.cg-gadget.active{
    border-bottom: 1px solid #4196DA;
    opacity: 1;
}

.cg-gadget:hover{
    opacity: 1;
}

/* NEW-GAMES */

.cg-new-games-jumbo{
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}

.cg-new-games-main{
    color: white;
    background-color: #1F1F1F;
}

.cg-new-games-jumbo .container .cg-container img{
    width: 70%;
}

.cg-new-games-jumbo .container .cg-container h2{
    padding: 25px 0;
}

.game img{
    width: 100%;
    border-radius: 10px;
}

/* PLAY-FOUR */

.cg-play-four-card img{
    width: 100%;
}

/* PLAY-PLUS */

.cg-play-plus{
    background-color: #BEBCBB;
}

.cg-text-play-plus img{
    width: 60%;
}

/* PLAY-NOW */

.cg-play-now{
    color: white;
    background-color: #161C3B;
}

/* FOOTER */

footer{
    background-color: #00439C;
    color: white;
}

.cg-language-globe{
    height: 15px;
}

.cg-bottom-footer .container .cg-text-bottom-footer p span {
    text-decoration: underline;
}

