
/* BUTTONS */

.cg-btn{
    
    color: white;
    border-radius: 20px;
}

.cg-btn-orange{
    background-color: #CD3D0F;
}

.cg-btn-blue{
    background-color: #2D64E6;
}

.cg-btn-gray{
    background-color: #D9DADC;
}

.cg-btn-white{
    background-color: white;
}

/* /BUTTONS */

.card{
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.cg-a{
    text-decoration: none;
    color: white;
}

.cg-color-gray{
    color: #979797;
}
.bug{
    background-color: rgba(255, 0, 0, 0.356);
}