
/* BUTTONS */

.cg-btn{
    
    color: white;
    border-radius: 20px;
}

.cg-btn-black{
    background-color: #363636;
}

.cg-btn-black:hover{
    background-color: #5B636A;
    color: white;
    box-shadow: 0 0 0 -2px #5B636A,
                    inset 0 0 0 1px #fff;
    transition: all 0.2s;
}

.cg-btn-orange{
    background-color: #CD3D0F;
}

.cg-btn-orange:hover{
    color: white;
    box-shadow: 0 0 0 -2px #CD3D0F,
                    inset 0 0 0 1px black;
    transition: all 0.2s;
}

.cg-btn-blue{
    background-color: #2D64E6;
}

.cg-btn-blue:hover{
    color: white;
    box-shadow: 0 0 0 -2px #2D64E6,
                    inset 0 0 0 1px #fff;
    transition: all 0.2s;
}

.cg-btn-gray{
    background-color: #D9DADC;
}

.cg-btn-gray:hover{
    border: 1px solid #C7C5C5;
    background-color: #DADBDC;
    color: #2D64E6;
    box-shadow: 0 0 0 -5px #C7C5C5,
                    inset 0 0 0 1px #C7C5C5;
    transition: all 0.2s;
}

.cg-btn-white{
    background-color: white;
}

/* /BUTTONS */

.card{
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.cg-a{
    text-decoration: none;
    color: white;
}

.cg-color-gray{
    color: #979797;
}
.bug{
    background-color: rgba(255, 0, 0, 0.356);
}