
/* BUTTONS */

.cg-btn{
    
    color: white;
    border-radius: 20px;
}

.cg-btn-orange{
    background-color: #CD3D0F;
}

.cg-btn-blue{
    background-color: #2D64E6;
}

.cg-btn-gray{
    background-color: #D9DADC;
}

/* /BUTTONS */

.card{
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.cg-col{
    width: 50%;
}

.bug{
    background-color: rgba(255, 0, 0, 0.356);
}